# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\java\projects\skillbox\12_ExceptionsDebuggingAndTesting\homework_12.2\SPBMetro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
